/*ESTRUTURA DE ESTILIZAÇÃO CSS DO MEU SITE DE PORTFÓLIO*/
/*INÍCIO DAS ESTILIZAÇÕES*/

/*ESTILIZAÇÕES GERAIS*/

* {
	padding: 0;
	text-decoration: none !important;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background:snow;
	margin: 1% !important;
}

h1{
    text-align: center;
	font-size: medium;
	margin: 2%;
}

img{
	display: block;
	margin: auto;
}

/*ESTILIZAÇÃO NAVBAR*/ 

/*Estilizações Principais*/

#brand{
  font-family: 'Roboto', sans-serif !important;
  text-decoration: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
}

.navbar-brand{
padding-left: 1%;

}

/*FIM DAS ESTILIZAÇÕES PRINCIPAIS DO SITE */


/*Estilizações Adicionais*/

/* Estilização do Botão "voltar ao topo" */

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 3px;
    width: 35px;
    height: 35px;
    background-color: rgb(52, 58, 64);
    text-decoration: none;
	border-radius: 50%;
}
.btn1::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn1:hover::after {
    margin-top:-8px;
}

/*FIM DAS ESTILIZAÇÕES*/
