/*ESTRUTURA DE ESTILIZAÇÃO CSS DO MEU SITE DE PORTFÓLIO*/
/*INÍCIO DAS ESTILIZAÇÕES*/

/*ESTILIZAÇÕES GERAIS*/

* {
	padding: 0;
	text-decoration: none !important;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background:snow;
	margin: 1% !important;
}

.none{
    font-style: normal !important;
}


/*ESTILIZAÇÃO NAVBAR*/ 

/*Estilizações Principais*/

#brand{
    font-family: 'Roboto', sans-serif !important;
    text-decoration: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
}


.navbar-brand{
    padding-left: 1%;   
}



/*FIM DA ESTILIZAÇÃO NAVBAR*/


/* ESTILIZAÇÃO div 01 */

.corpo{
    margin-top: 15%;
    margin-bottom: 15%;
    justify-content: center;
    align-content: center;
    display: grid;
}

.corpo h1
{
    margin-top: 15%;
    font-size: 250%;
    text-align: center;
     
}

.corpo p{
    text-align: center;
    font-style: italic;

}

.corpo button{
    height: 50px;
    width: 100px;
    display: block;
	margin: auto;
    margin-top: 2% !important;
    background: rgb(33, 37, 41);
    font-size: large;
    font-variant: unset;
    text-transform: uppercase;
    color: snow;
    border-radius: 15%;
}

.corpo button a{
	color: white;
}

.corpo button:hover{
    background: #002244;
	transition: .5s;
    cursor: pointer;
}


/* ESTILIZAÇÃO div 02 */

.corpo2 h1
{
	color: rgb(33, 37, 41);
    font-size: 50px;
    text-align: center;
}

.corpo2 p{
	color: rgb(33, 37, 41);
    text-align: center;
    font-style: italic;
}

.corpo2 img{
	width: 45%;
	height: 45%;
}

.minha_foto{
	width: 20% !important;
	height: 30% !important;
	display: block;
	margin: auto;
	border-radius: 10% !important;
}

/*Estilização dos Cards (Bootstrap)*/
.card{
	float: right;
	margin: 5%;
	
}

.card img{
	float: left;
}

.card-body{
	color: #000000;
}

.card-text{
	color: black !important;
	text-align: justify !important; 
}


/* ESTILIZAÇÃO div 03 */

.corpo3 h1
{
    font-size: 50px;
    text-align: center;
}

.corpo3 p{
    text-align: center;
    font-style: italic;
}


/* ESTILIZAÇÃO div 03-5 */

.corpo3-5 h1
{
    font-size: 250%;
    text-align: center;
    margin-top: 3%;
}

.corpo3-5 p{
    text-align: center;
    font-style: italic;
	margin: 3%;
}

.card2 img{
	margin: 1%;
	height: 100px;
	width: 100px;
	align-items: center;
	float: left;
}

/* Estilização div 3-6 (serviços) */

.corpo3-6{
	margin-top: 5%;
	margin-bottom: 5%;
}

.corpo3-6 h1
{
    font-size: 50px;
    text-align: center;
}

.corpo3-6 p{
    text-align: center;
    font-style: italic;
}

.corpo3-6 h2{
	text-align: center;
	font-size: 110%;
}

.corpo3-6 button{
	height: 50px;
    width: 100px;
    display: block;
	margin: auto;
    margin-top: 2% !important;
    background: rgb(33, 37, 41);
    font-size: large;
    font-variant: unset;
    text-transform: uppercase;
    color: snow;
    border-radius: 15%;
}

.corpo3-6 button a{
	color: white;
}

.corpo3-6 button:hover{
    background: #002244;
	transition: .5s;
    cursor: pointer;
}


/* ESTILIZAÇÃO div 04 (contato) */

.corpo4{
	background: rgb(33, 37, 41);
	padding: 1%;
    
}

.corpo4 h1{
	color: white;
    font-size: 50px;
    text-align: center;
}

.corpo4 p{
	color: white;
    text-align: center;
    font-style: italic;
}

.corpo4 button{
	margin-left: 41% !important;
	background-color: rgb(33, 37, 41) !important;
	display: block !important;
	margin: auto !important;
	border: 1px solid;
	border-radius: 15%;
}

.corpo4 button:hover{
	color: white;
	background-color: #002244;
	border: white 1px solid;
}

#close{
	display: block;
	margin-left: 55% !important;
}

#um{
 float: left;
}

#dois{
	float: right;
}

form{
	font-size: 75%;
	background: rgb(33, 37, 41);
	max-width: 500px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}

input, textarea{
	width: 100%;
	padding: 10px;
}

.enviar input{
	background: rgb(33, 37, 41);
	height: 40px;
	width: 150px;
	display: block;
	margin: auto;
	font-weight: bold;
	border-radius: 15%;
	border:  1px solid;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.enviar input:hover{
	background: #002244;
	transition: .5s;
}

textarea{
	width: 100%;
	height: 100%;
	line-height: 20px;
}


/* ESTILIZAÇÃO RODAPÉ */

.footer {
	width: 100%;
	height: 100%;
	background-color: rgb(33, 37, 41);
	color: white;
 	font-family: 'Montserrat', sans-serif;
	margin-top: 2%;
}

.footer h1 {
	font-size: 150%;
	text-align: center;
}

/*FIM DAS ESTILIZAÇÕES PRINCIPAIS DO SITE */


/*Estilizações Adicionais*/

/* Estilização do Botão "voltar ao topo" */

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 7px;
    width: 35px;
    height: 35px;
    background-color: rgb(33, 37, 41);
    text-decoration: none;
	border-radius: 50%;
}
.btn1::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn1:hover::after {
    margin-top:-8px;
}



/*FIM DAS ESTILIZAÇÕES*/
